body {
	background-image:url('tile.jpg');
    background-repeat:repeat;
}

canvas {
	width:700px;
	height:400px;
  	background-color: #2D2D2D;
	border-radius:0px;
}

.content {
	/* dimensions */
	max-width: 700px;
	max-height: 400px;

	/* shadow */
	-moz-box-shadow: 4px 4px 21px #000000;
	-webkit-box-shadow: 4px 4px 21px #000000;
	box-shadow: 4px 4px 21px #000000;

    /* center */
	margin: auto; 
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;

    /* border */
    border:1px solid;
	border-color: #6D6D6D;
	border-radius:5px;
}